# data sets are too large to upload to github, instead, they can be accessed from my personal google drive [https://drive.google.com/open?id=1bF-OeHiamdALTz2jKnEzqkbnq_rBEBxl] 

/data/*

/python/models/*